fastapi==0.103.0
uvicorn==0.23.2
gunicorn
python-multipart==0.0.20
openpyxl>=3.1.5
pandas
pydantic
python-dotenv==1.0.0
certifi
motor==3.6.0
pymongo==4.9.2
xlrd==2.0.1
slowapi==0.1.9
pytest
pytest-asyncio
httpx
pytest-cov
